<template id="ag-app-page">
    <div class="nav">
        <div class="control">
            <a class="fa fa-navicon"></a>
        </div>

        <div class="caption"></div>

        <nav>
            <div class="items container">
            </div>
        </nav>
        <div class="olay"></div>
    </div>

    <div class="view">
        <header></header>
        <article></article>
        <footer></footer>
    </div>

    <div class="pages primary">
        <h2 class="only-handheld">
            <i class="fa fa-compass"></i>
            <span>{{ t("Pages") }}</span>
        </h2>
        <ul></ul>
    </div>

    <div class="languages">
        <div class="item has-flyout">
            <h2 class="main">
                <i class="fa fa-globe"></i>
                <span>{{ t("Language") }}</span>
            </h2>
            <ul class="flyout"></ul>
        </div>
    </div>

    <ul>
        <li class="page-branch">
            <h3>
                <span></span>
            </h3>
            <ul></ul>
        </li>

        <li class="page">
            <a href=""><span></span></a> {# span needed for vertical-align #}
        </li>

        <li class="language">
            <a href=""></a>
        </li>
    </ul>
</template>
