<template id="ag-app-form">
    <table class="dummy">
        <tfoot class="form-footer simple">
            <tr>
                <td></td>
                <td>
                    <button class="btn btn-primary" type="submit">{{ t("submit") }}</button>
                </td>
            </tr>
        </tfoot>
        <tfoot class="form-footer newpass">
            <tr>
                <td></td>
                <td>
                    <button class="btn btn-primary" type="submit">{{ t("submit") }}</button>
                    <a href="{{ createUrl("/user/newpass") }}" class="btn btn-link">{{ t("forgot your password?") }}</a>
                </td>
            </tr>
        </tfoot>
    </table>
</template>
